@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

* {
    overflow-x: hidden;
    margin: 0;padding: 0;box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    scroll-behavior: smooth;
}
@font-face{
    font-family: bafont;
    src: url(RoGSanSrfStd-Bd.otf);
}
@font-face {
    font-family: TTSupermolotNeue-ExpBoldIt;
    src: url(TTSupermolotNeue-ExpBoldIt.ttf);
}
body {
    /* background: black; */
    overflow-x: hidden;
    height: 400vh;
}
header{
    position: relative;
    max-width: 100%;
    align-items: center;
    /* margin: 20px auto; */
    /* padding: 10px; */
    font-family: bafont;
    background: rgba(1, 73, 124, 0.6);
    display: flex;
    /* justify-content: space-around; */
    justify-content: space-between;
    z-index: 1;
    text-transform: uppercase;
    /* place-items: center; */
}

header img {
    padding-left: 5em;
}
header .menu {
    padding-right: 2em;;
}
header nav ul {
    display: flex;
    width: 100%;
    padding-right: 5em;
    justify-content: space-between;
    /* padding-top: 1em; */
}
header nav ul li a{
    color: white;
    /* padding-right: 3em; */
    font-size:19px;
    padding: 12px 30px 10px;
}
header nav ul li a .yt-logo{
    align-items: center;
    justify-content: center;
    padding-left: 5px;
}
header nav ul li a .tw-logo{
    /* align-items: center; */
    border-top: 0;
    padding-left: 5px;
}
/* header nav ul li a:hover {
    border-top: 5px solid #48bfe3;
} */

 /* Buat Sidebarrrrr  */
.menu {
    display: none;
}
.sidebar {
    display: none;
    /* position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color:#48bfe3; */
}

/* .sidebar a img {
    place-items: center;
    justify-content: center;
} */
/* SIDEBAAARRRRRR */
.home .video {
    position: absolute;
    top: 0;
    right: 0;
}
.home .top-bg-cover {
    position: absolute;
    top: 0;
    right: 0;
}
.tester {
    display: none;
}
.tester2 {
    display: none;
}
/* .home .logo {
    position: absolute;
    z-index: 3;
    transform: translate(42em);
    top: 23em;
    /* top: 410px;
    left: 700px; */
/* } */
hr.blue-dashed {
    border-top: 6px dashed #48bfe3;
}
.container-vid {
    position: relative;
    width: 100%;
    height: 1014px;
    /* min-height: 100vh; */
    z-index: 4;
    /* background: #48bfe3; */
}
.container-vid .logo {
    place-items: center;
    align-items:center;
    justify-content:center;
    display: flex;
    padding-top: 10em;
}
.main {
    padding: 3.5em;
    /* background: aqua; */
}
.main h1{
    font-size: 3rem;
    padding-bottom: .5em;
    text-align: center;
    font-family: TTSupermolotNeue-ExpBoldIt;
}
.main h1 .blue {
    color:#48bfe3;
}
.main p {
    text-align: justify;
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: 'PT Sans', sans-serif;
}
.main .img-main {
    width: 100%;
    padding-top: 1.5em;
    /* background:rgba(1, 73, 124,1); */
    justify-content: center;
    display: flex;
}

.Club {
    /* My Coretan */
    background: #48bfe3;
    display: grid;
    /* height: 100vh; */
    /* grid-template-columns: repeat(auto-fill, 1fr);
    grid-template-rows: repeat(auto-fill, 1fr); */
    /* grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100px 1fr 1fr 1fr;
    padding: 2em;
    grid-gap: 1em;
    grid-template-areas: 
        "title title title title "
        "abydos gehenna milenium trinity"
        "winter shan hyakiyakko arius"
        ". valkyrie valkyrie . "; */

    /* grid-template-columns: repeat(auto-fit, minmax(240px, 1fr)); */
    grid-template-columns: repeat(4, 1fr);
    padding: 2em;
    grid-gap: 1em;
    grid-template-areas: 
        "title title title title "
        "abydos gehenna milenium trinity"
        "winter shan hyakiyakko arius"
        ". valkyrie valkyrie . ";

    /* grid-auto-rows: 300px; */

    /* testing satu */

    /* background-color: #48bfe3;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 3fr) repeat(2, 1fr);
    grid-column-gap: 2em;
    grid-row-gap: 2em; */

    /* testing dua */
    /* background: #48bfe3;
    display: grid; 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem; */
}
.Club h1 {font-family: TTSupermolotNeue-ExpBoldIt; color: white; grid-area: title;display: flex; align-items: center; text-align: center; justify-content: center;font-size: 3rem;}
.Club .aby {grid-area: abydos;}
.Club .gehe {grid-area: gehenna;}
.Club .mile {grid-area: milenium;}
.Club .winter {grid-area: winter;}
.Club .tri {grid-area: trinity;}
.Club .hyak {grid-area: hyakiyakko;}
.Club .shan {grid-area: shan;}
.Club .arius {grid-area: arius;}
.Club .valk {grid-area: valkyrie;}

.Club .grid-items {
    display: flex;
    justify-content: center;
}
.Club .grid-items a {
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    color: white;
}

.second {
    position: relative;
    text-align: center;
    font-size: 3rem;
    padding-bottom: .5em;
    font-family: TTSupermolotNeue-ExpBoldIt;
    color: #fff;
}

#preload {
    background:url(preload.gif) no-repeat center;
    background-size: 19%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}
@media (min-width: 832px) and (max-width: 1300px){
    body {
        overflow-x: hidden;
    }
    header nav ul li a .yt-logo{
        display: block;
    }
    header nav ul li a .tw-logo {
        display: block;
    }
    /* header nav ul{
        padding-right:50px;
    }
    header a img {
        padding-right: 3em;
    } */
    header nav ul li a{
        /* font-size: 19px;
        padding: 0 15px 16px; */
        display: block;
    }
    .menu {
        display: flex;
        flex-direction: column;
        height: 20px;
        justify-content: space-between;
        position: relative;
        z-index: 10;
    }
    
    .menu input {
        position: absolute;
        width: 40px;
        height: 28px;
        opacity: 0;
        left: -5px;
        top: -5px;
        cursor: pointer;
        z-index: 10;
    }
    
    .menu span {
        display: block;
        width: 30px;
        height: 3px;
        background: white;
        border-radius: 3px;
        transition: all 0.2s;
    }
    .menu span:nth-child(2){
        transform-origin: 0 0;
    }
    .menu span:nth-child(4){
        transform-origin: 0 100%;
    }
    .menu input:checked ~ span:nth-child(2){
        background-color: white;
        transform: rotate(45deg) translate(-2px, -1px);
    }
    
    .menu input:checked ~ span:nth-child(3){
        opacity: 0;
        transform: scale(0);
    }
    
    
    .menu input:checked ~ span:nth-child(4){
        background-color: white;
        transform: rotate(-45deg) translate(-2px, 0);
    }
    header nav ul {
        position: absolute;
        right: 0;
        flex-direction: column;
        background-color:#48bfe3;
        top:0;
        width: 50%;
        height: 100vh;
        align-items: center;
        justify-content: space-evenly;
        z-index: 4;
        transform: translateX(100%);
        transition: all 0.5s;
    }
    header nav ul.slide{
        transform: translateX(0);
    }
    .tester2 {
        display: block;
        position: relative;
        width: 100%;
        height: 1014px;
    }
    .tester2 video {
        position: absolute;
        top: -66px;
        right: -50px;
    }
    .tester2 .logo {
        position: absolute;
        top: 40vh;
        left: 30vw;
    }
    .container-vid {
        display: none;
    }

    .home .video {
        display: none;
    }
    .Club {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
        "title title title"
        "abydos gehenna milenium"
        "trinity winter shan"
        "hyakiyakko arius valkyrie";
    }
}

@media (min-width: 601px) and (max-width: 831px){
    /* .custom-shape-divider-top-1631842481 svg {
        width: calc(100% + 1.3px);
        height: 10px;
    } */
    body {
        overflow-x: hidden;
    }
    header {
        background: #01497c99;
    }
    header img {
        padding-left: 2em;
        
    }
    header nav ul li a .yt-logo{
        display: block;
    }
    header nav ul li a .tw-logo {
        display: block;
    }
    header nav ul li a {
        display: block;
    }
    .container-vid {
        display: none;
    }
    .container-vid .logo {
        display: block;
        z-index: 900;
    }
    .home .top-bg-cover {
        
        height: 120vh;
    }
    .home .video{
        display: none;
    }
    .tester {
        display: none;
    }
    /* .tester {
        display: block;
        position: relative;
        width: 100%;
        height: 108.1vh;
        background-size: cover;
    }
    .tester video {
        position: absolute;
        top: -66px;
        right: -50px;
    }

    .tester .logo {
        position: absolute;
        top: 40vh;
        left: 24vw;
        z-index: 0;
    } */
    .tester2 {
        display: block;
        position: relative;
        width: 100%;
        height: 1014px;
    }
    .tester2 video {
        position: absolute;
        top: -66px;
        right: -20em;
    }
    .tester2 .logo {
        position: absolute;
        top: 40vh;
        left: 30vw;
    }
    .menu {
        display: flex;
        flex-direction: column;
        height: 20px;
        justify-content: space-between;
        position: relative;
        z-index: 10;
    }
    
    .menu input {
        position: absolute;
        width: 40px;
        height: 28px;
        opacity: 0;
        left: -5px;
        top: -5px;
        cursor: pointer;
        z-index: 10;
    }
    
    .menu span {
        display: block;
        width: 30px;
        height: 3px;
        background: white;
        border-radius: 3px;
        transition: all 0.2s;
    }
    .menu span:nth-child(2){
        transform-origin: 0 0;
    }
    .menu span:nth-child(4){
        transform-origin: 0 100%;
    }
    .menu input:checked ~ span:nth-child(2){
        background-color: white;
        transform: rotate(45deg) translate(-2px, -1px);
    }
    
    .menu input:checked ~ span:nth-child(3){
        opacity: 0;
        transform: scale(0);
    }
    
    
    .menu input:checked ~ span:nth-child(4){
        background-color: white;
        transform: rotate(-45deg) translate(-2px, 0);
    }
    header nav ul {
        overflow-x: hidden;
        position: absolute;
        right: 0;
        flex-direction: column;
        background-color:#48bfe3;
        top:0;
        width: 50%;
        height: 100vh;
        align-items: center;
        justify-content: space-evenly;
        z-index: 4;
        transform: translateX(100%);
        transition: all 0.5s;
    }
    header nav ul.slide{
        transform: translateX(0);
    }
    .main p{
        font-size: 1rem;
        line-height: 1.6rem;
    }
    .Club {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "title title"
        "abydos gehenna"
        "milenium trinity"
        "winter shan"
        "hyakiyakko arius"
        "valkyrie valkyrie";
    }
    
    /* grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas:
      "header header  header"
      "nav    content sidebar"
      "nav    content ad"
      "footer footer  footer" */
}
@media (min-width: 392px) and (max-width: 600px){
    /* .custom-shape-divider-top-1631842481 svg {
        width: calc(100% + 1.3px);
        height: 10px;
    } */
    body {
        overflow-x: hidden;
    }
    header {
        background: #01497c99;
    }
    header img {
        padding-left: 2em;
        
    }
    header nav ul li a .yt-logo{
        display: block;
    }
    header nav ul li a .tw-logo {
        display: block;
    }
    header nav ul li a {
        display: block;
    }
    .container-vid {
        display: none;
    }
    .container-vid .logo {
        display: block;
        z-index: 900;
    }
    .home .top-bg-cover {
        
        height: 120vh;
    }
    .home .video{
        display: none;
    }
    .tester2 {
        display: none;
    }
    .tester {
        display: block;
        position: relative;
        width: 100%;
        height: 1014px;
        background-size: cover;
    }
    .tester video {
        position: absolute;
        top: -66px;
        right: -50px;
    }

    .tester .logo {
        position: absolute;
        top: 40vh;
        left: 24vw;
        z-index: 0;
    }
    .menu {
        display: flex;
        flex-direction: column;
        height: 20px;
        justify-content: space-between;
        position: relative;
        z-index: 10;
    }
    
    .menu input {
        position: absolute;
        width: 40px;
        height: 28px;
        opacity: 0;
        left: -5px;
        top: -5px;
        cursor: pointer;
        z-index: 10;
    }
    
    .menu span {
        display: block;
        width: 30px;
        height: 3px;
        background: white;
        border-radius: 3px;
        transition: all 0.2s;
    }
    .menu span:nth-child(2){
        transform-origin: 0 0;
    }
    .menu span:nth-child(4){
        transform-origin: 0 100%;
    }
    .menu input:checked ~ span:nth-child(2){
        background-color: white;
        transform: rotate(45deg) translate(-2px, -1px);
    }
    
    .menu input:checked ~ span:nth-child(3){
        opacity: 0;
        transform: scale(0);
    }
    
    
    .menu input:checked ~ span:nth-child(4){
        background-color: white;
        transform: rotate(-45deg) translate(-2px, 0);
    }
    header nav ul {
        overflow-x: hidden;
        position: absolute;
        right: 0;
        flex-direction: column;
        background-color:#48bfe3;
        top:0;
        width: 80%;
        height: 100vh;
        align-items: center;
        justify-content: space-evenly;
        z-index: 4;
        transform: translateX(100%);
        transition: all 0.5s;
    }
    header nav ul.slide{
        transform: translateX(0);
    }
    .main p{
        font-size: 1rem;
        line-height: 1.6rem;
    }
    .Club {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "title"
        "abydos"
        "gehenna"
        "milenium"
        "trinity"
        "winter"
        "shan"
        "hyakiyakko"
        "arius"
        "valkyrie";
    }
/* "title title title"
            "abydos gehenna milenium"
            "trinity winter shan"
            "hyakiyakko arius valkyrie" */
}
